html, body{
  overflow-x:hidden;
}

body {
  font-family: "Athiti", Helvetica, Arial, sans-serif;
  color: #606062;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Philosopher", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;  /* font-weight = 100 means light, e.g. Athiti Light */
}

/* GRID */
.container {
  margin-right:auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container:before,
.container:after{
  content: " ";
  display: table;
}

/* no content should conflict with the content inside of the containers */
.container:after {
  clear:both;
}

.one-half, .one-third, .one-fourth {
  width: 96%; /* we will set the margin to be 2% on the left and on the right*/
  float: left; /* image will float to the left of the text */
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px 2%;
}
