/* Mobile-first design */

html, body{
  overflow-x:hidden;
}

body {
  font-family: "Athiti", Helvetica, Arial, sans-serif;
  color: #606062;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Philosopher", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;  /* font-weight = 100 means light, e.g. Athiti Light */
}



/* GRID */
.container {
  margin-right:auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container:before,
.container:after{
  content: " ";
  display: table;
}

/* no content should conflict with the content inside of the containers */
.container:after {
  clear:both;
}

.one-half, .one-third, .one-fourth {
  float: left; /* image will float to the left of the text */
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px 2%;
}
.one-half {
  width: 46%; /* we will set the margin to be 2% on the left and on the right*/
}
.one-third, .one-fourth {
  width: 96%;
}


/* HEADER */
header {
  background: rgba(96,189,189,0.10);
  background-image: linear-gradient(206deg, #5f81a3 0%);
}

header nav {
  padding: 1em 0;
}

header nav ul {
  display: inling;
  text-align: right;
  float: right; /* sign in & sign up links will float to the right */
  margin: 0;
  right: 2%;
}

header nav ul > li {
  /* ul is the parent element, li is the child element */
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}

/* sign up buttons */
/* ul refers to sign in & sign up buttons, see html header section */
header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 2px solid #606062; /* dark gray */
  border-radius: 4px;
}
header nav ul > li.btn-outline:hover {
  background-image: linear-gradient(-180deg, #FBEE94 0%, #F4D75B 100%);  /* button color changes to yellow when you hover */
}
header nav ul > li > a {
  color: #606062; /* dark gray*/
  text-decoration: none;
}

header nav ul > li.btn-outline:hover > a {
  color: #606062 /* text changes to gray when you hover. This section is optional because the text color is gray through out */
}

/* Buttons */
.btn {
  color: #606062; /* dark gray is the text color */
  font-weight: 600;
  text-decoration: none;
  padding: 13px 35px;
  background-image: linear-gradient(-180deg, #FBEE95 0%, #F5D85C 100%);
  border-radius: 4px;
}



/* Hero */
header .hero {
  text-align: center;
  display:block;
  position: relative;
}

header .hero h1 {
  font-size: 48px;
  font-weight: normal;
}

header .hero p{
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
  margin: 10px 0 40px; /* 10 on the top, 0 on the left and right, 40 on the bottom */
}

header .hero img {
  display: block;
  margin: 5% auto 0;
}



/* BENEFITS */
.benefits {
  text-align: center;
  display: block;
  position: relative;
}

.benefits ul {
  margin: 0 auto;
  padding: 4em 0;
}
.benefits ul li {
  list-style-type: none;
  display: inline-block;
}
.benefits i{
  color: #606062;
  font-size: 60px;
  margin: 0;
  vertical-align: middle;
}
.benefits h2{
  color: #606062;
}

/* PRICING */
.pricing {
  background: #606062 url("http://www.kylejlarson.com/wp-content/uploads/2016/11/becoming-ux-wireframes.jpg") top center no-repeat
  background-size: cover;
  text-align: center;
  padding: 4em 0;
}
.pricing h2, .pricing p {
  color: #606062;
}
.pricing ul {
  margin: 0 auto;
  padding: 2em 0;
}
.pricing ul li {
  list-style-type: none;   /* remove bullets */
}
.box {
  padding: 0 15px 15px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  min-height: 439px;
  position: relative;;
  margin-top: 25px;
  border: 2px solid #60BDBD;
}
.box.middle {
  min-height: 485px;
  margin-top: 0px;
  border: 2px solid #60BDBD;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
}
.box h3 {
  font-family: "Philosopher", Helvetica, Arial, sans-serif;  /* styling for CASUAL, PROFESSIONAL, EXPERT */
  font-weight: 600;
  color: #606062;
  text-transform: uppercase;
  background-image: linear-gradient(-180deg, #99E0E0 0%, #60BDBD 100%);
  left: 0;
  right: 0
  top: 0;    /* left, right, and top are set to 0 to meet the edge of the rectangle */
  text-align: center;
  margin: -1px -15px 40px;   /* -15px to account for +15px padding in the box */
  padding: 10px 0;
}
.box h4 {
  font-size: 50px;
  font-weight: normal;
  margin: 40px 0 10px;
  color: #6060602;
  font-family: "Athiti", Helvetica, Arial, sans-serif;
}

.box h4 span {
  font-size: 32px;
  vertical-align: top;
}
.box h4 span.month {
  font-family: "Athiti", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #606062;
  font-size: 20px;
  vertical-align: middle;
}
.box ul li {   /* features e.g. up to 5 boxes, up to 10 collaborators */
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 100;
}
.box .btn {    /* Put the "start your free trial" button 20px to the bottom, 20px to the left and right */
  position: absolute;  /* Button is absolut to the browser. Box is relative to the browser, see line 233. */
  bottom: 20px;
  left: 20px;
  right: 20px;
}

/********* Disclaimer ********/
.small {
  font-size: 12px;
  color: #606062;
  line-height: 15px;
  font-style: italic;
}

/**************** TESTIMONIALS ************/
.testimonials {
  padding: 4em 0;
  text-align: center;
}
.testimonials h2 {
  color: #606062;
}
.testimonials ul li {
  list-style-type: none;
}
.testimonials blockquote {
  color: #606062;
  text-align: left;
  font-style: italic;
  position: relative;
  padding: 30px;
  width: auto;
  margin: 0;
  font-size: 1.5em;
  font-weight: 100;
}
.testimonials blockquote:after {
  top: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #yellow;
  border-width: 10px;
  margin-left: -10px;
}
.testimonials img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  float: left;
  display: inline-block;
  margin: 20px 10px 0 0;
}
.testimonials p.name {
  float: left;
  display: inline-block;
  text-align: left;
  font-size: 1.2em;
  margin-top: 30px;
  max-width: 120px;
}
.rectangle.down-by-20px {
  margin-top: 20px;
}


/****** Call to Action ********/
.call-to-action {
  text-align: center;
  padding-bottom: 2em;
}
.call-to-action h2 {
  padding: 0.5em 0;
}
.call-to-action p {
  padding: 0.5em 0 1em;
}



/****** FOOTER *******/
footer {
  background-color: #E2E2E2;
  color: #606062;
  height: 150px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
footer p, footer nav ul {
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  margin: 10px auto 0;
}
footer nav ul li {
  list-style-type: none;  /* remove bullets */
  display: inline;
}
footer nav ul li a {
  color: #606062;
  text-decoration: none;
}
footer .right-footer-block {
  background-color: transparent;
  margin-top: -5%;
}
footer .logo {
  padding: 2.35em 0;
  margin: 0 auto;
  display: block;
}



/* DASHBOARD */
.dashboard {
  background: #ffffff;
}

/* RESPONSIVE */
.left-nav {
  /*height: 100vh;  vh stands for vertical height, removed for responsive design */
  height: 100%;
  width: 280px;
  color: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-280px,0);
     -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
     -o-transform: translate(-280px,0); /** Opera **/
     -moz-transform: translate(-280px,0); /** Firefox **/
 }
 .left-nav.open {
   display:block;
   width:280px;
   background-image: linear-gradient(49deg, #F4D75B 0%, #74B9BB 100%);
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
     z-index: 100;
 }
 .hamburger {
   position:absolute;
   z-index: 1000;
   background: #606062;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 4px;
   left: 5px;
   top: 15px;
 }
.left-nav .site-logo {
  padding: 20px 0;
  background: #606062;
  display: block;
  text-align: center;
}

  .left-nav .items p {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 15px;
    padding-left: 10%;
  }
  .left-nav .items ul {
    margin: 0 0 40px;
    padding: 0;
  }
  .left-nav .items ul li {
    list-style-type: none;
    margin-bottom: 15px;
  }

  /** Hovsep .active solution **/
  .left-nav .items ul .active a {
    background: #F4D75B;
    color: #606062;
  }
  .active {
    background: #F4D75B; /* yellow */
    position: relative;
    left: 0;
    width: 100%;
    height: 23px;
    padding: 5px 0;
  }



  .left-nav .items ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 100;
  }

  .left-nav .items ul li a i {
    width: 16px;
    text-align: center;
    margin-right: 8px;
  }

  /* LEFT NAVBAR SETTINGS */
  .left-nav .settings {
    position: absolute;
    background: #606062;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
  }
  .left-nav .settings img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
  }
  .left-nav .settings p {
    display: inline-block;
    vertical-align: 8px;
    padding-top: 8px;
    font-weight: 400;
    margin: 0 0 0 10px;
  }
  .left-nav .settings a {
    color:#FFFFFF;
    text-decoration: none;
    text-align: right;
    float: right;
    margin-right: 10px;
    margin-top: 8px;
  }

  /* CONTENT */
  .content {
    padding: 6em 1% 1.5em;
    float: right;
    width: 98%;
    position: relative;
  }
  .content .header {
    margin: 0 1% 20px;
  }
  .content .header h1 {
    font-family: "Philosopher", Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin: 0 0 30px;
    font-size: 36px;
    color: #606062;
    line-height: 44px;
    float: left;
    display: inline-block;
  }
  .content .header > a {
    float: right;
  }
  .content-item {
    width: 96%;
    margin: 0 2% 25px;
    float: left;
    display: block;
  }
  .item-box {
    display: block;
    height: 230px;
    background: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
    position: relative;
    overflow: hidden;
    padding: 20px;
  }

  /* Phone styling for footer. Hovsep's solution */
  @media (max-width: 480px) {
    header nav ul>li:last-child {
      display: none;
    }
    header .hero img {
        display: none;
      }
      header .hero h1 {
      font-size: 30px
    }
    header .hero p {
      font-size: 18px
    }
    footer {
      height: 100%;
    }
    footer nav ul li a {
      padding-left: 0;
    }
    footer .logo {
      padding: 2em 0 1em 0;
    }
    .left-footer-block.one-third {
      margin-top: 1em;
    }
    }

  /* Tablet styling for home page */
  @media (min-width: 750px) {
    /* write fadeIn effect again because 1) the fadeIn rule is overwritten for mobile 2) mobile comes first */
    .fadeIn {
      animation-name: fadeIn;
    }
    .one-third {
      width: 29.33333%;
    }
  .one-fourth {
    width: 46%;
  }
  .left-footer-block {
    width: 27%;
  }
  .middle-footer-block {
    width: 35%;
    padding-left: 2%;
  }
  footer .right-footer-block {
    width: 24%;
    margin-top: -1.5%;
    right: -7%;
  }
    footer {
      height: 100px;
    }
    footer p, footer nav ul {
      padding: 2em 0;
      text-align: left;
    }
    footer .logo {
      padding: 2em 0 2em 1.5em;
    }
    /* tablet styling for dashboard */
    .content {
      padding: 1.5em 5%;
      float: right;
      width: 90%;
      position: relative;
    }
    .content > .container {
      width: 700px;
    }
    .content-item {
      width: 31.33333%;
      margin: 0 1% 25px;
    }
  }

  /* Laptops styling for home page */
  @media (min-width: 1025px) {
    .one-fourth {
      width: 21%;
    }
    /* Laptop styling for dashboard */
    .content {
      padding: 1.5em 1%;
      float: right;
      width: 83.33333%;
      position: relative;
    }
    .content > .container {
      width: auto;
    }
    .content-item {
      width: 23%;
      margin: 0 1% 25px;
    }
    .item-box > img {
      position: absolute;
      height: 100%;
      width: auto;
      top: 0;
      left: 0;
      right: 0;
    }
    .item-box h2 {
      font-family: "Athiti", Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 15px;
      line-height: 17px;
      margin: 0;
    }
    .item-box h2 a {
      color: #606062;
      text-decoration: none;
    }
    .item-box h2 img {
      width: 16px;
      height: 16px;
      position: relative;
      top: 2px;
      margin-right: 5px
    }
    .item-box p {
      font-size: 14px;
      color: ##606062;
      line-height: 18px;
      margin: 5px 0 0;
    }
    .left-nav {
      height: 100vh;
      width:14.66666667%;
      color:#FFFFFF;
      background-image: linear-gradient(49deg, #F4D75B 0%, #74B9BB 100%); /* yellow and blue */
      float:left;
      position: fixed;
      display:block;
      transform: translate(0,0);
      -webkit-transform: translate(0,0); /** Chrome & Safari **/
      -o-transform: translate(0,0); /** Opera **/
      -moz-transform: translate(0,0); /** Firefox **/
    }
    .left-nav.open {
      width:14.66666667%;
      transform: translate(0,0);
      -webkit-transform: translate(0,0); /** Chrome & Safari **/
      -o-transform: translate(0,0); /** Opera **/
      -moz-transform: translate(0,0); /** Firefox **/
    }
    .hamburger {
      display:none;
    }
  }
